.availability-form {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: scroll;
  }
  
  .availability-grid {
    display: flex;
    align-items: center;
    gap: 0px;
    padding-right: 2rem;
  }
  
  .availability-column {
    min-width: 100px;
    border: 1px solid #ddd;
    margin-right: 10px;
    cursor: pointer;
    position: relative;
  }
  
  .availability-column.hidden {
    display: none; /* Hide columns that are not selected */
  }
  
  .day-header {
    text-align: center;
    font-weight: bold;
    padding: 10px;
    background-color: #f0f0f0;
  }
  
  .hour-tick {
    height: 30px;
    border-top: 1px solid #eee;
    position: relative;
  }
  
  .availability-box {
    background-color: green;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  /* Time column */
  .time-column {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 10px; 
    margin-top: 20px;
  }

  .time-slot {
    height: 30px; /* Match the height of the hour-tick */
    display: flex;
    align-items: center; 
  }
  
  .availability-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-left: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 300px;
    height: auto;
  }
  
  .availability-list {
    margin-bottom: 20px;
  }
  
  .availability-block {
    display: flex;
    justify-content: space-between;
    background-color: #d3f9d8;
    padding: 10px;
    border-radius: 4px;
    margin-top: 10px;
    margin-bottom: 5px;
  }
  
  .remove-availability-btn {
    color: red;
  }
  