.home {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #f0f2f5;
    text-align: center;
    gap: 10px 20px;
  }
  
  .heading-container {
    margin-top: 5px;
  }

  .subheading-container {
    position: absolute;
    left: 30vh;
    top: 55vh;
  }

  .login-container {
    /* height: 40vh; */
    /* display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; */
    margin-bottom: 20vh;
    /* width: 100%; */
  }