/* Page container */
.meeting-page {
    display: flex;
    justify-content: center;
    padding: 20px;
    overflow-y: scroll;
    background-color: #f0f2f5;
    height: 100vh;
  }
  
  /* Common container for the header and tabs */
  .meeting-content {
    width: 40vw; /* Set max width to match the tabs and header */
    height: 120vh;
    margin-top: 2px;
    padding: 2rem;
    justify-content: center;
    background-color: #fafafa;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }
  
  /* Header section for meeting title, back button, and actions */
  .meeting-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5px;
  }
  
  .meeting-header h1 {
    margin-bottom: 5px;
  }
  
  /* Back button styling */
  .back-button {
    margin-right: 25rem;
    color: #1890ff;
  }
  
  /* Button actions for share and edit */
  .meeting-actions {
    display: flex;
    gap: 10px;
  }
  
  .edit-button {
    margin-left: 10px;
  }
  
  /* Styling for the Ant Design Tabs */
  .ant-tabs-top {
    margin-top: 20px;
    align-items: center;
  }
  
  .ant-tabs-tab {
    font-size: 16px;
  }
  
  .ant-modal {
    width: 75vw !important; 
    max-width: none !important;
    max-height: none !important; 
    top: 0 !important; 
    left: 0 !important; 
    padding: 0 !important; 
  }

  /* Center the modal title */
  .ant-modal-header {
    display: flex;
    justify-content: center; 
    text-align: center; 
    margin-top: -10px;
  }

  .header-text {
    font-size: large;
    font-weight: bold;
    margin-bottom: 5px;
  }

  .timeTabHeader {
    display: flex;               /* Set the container to flexbox */
    justify-content: space-between; /* Space between the heading and the button */
    align-items: center;          /* Vertically center the button and heading */
    width: 100%;                  /* Ensure the container takes full width */
    margin-bottom: 16px;          /* Add some spacing below, if needed */
  }
  
  .timeTabHeader h3 {
    margin: 0;                    /* Remove default margin from the heading */
  }
  
  .timeTabHeader button {
    margin-left: 2rem;            /* Ensure the button stays on the right */
  }

  .dropdown {
    align-items: center;
    margin-right: 10rem;
  }
  