html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden; /* Prevent scrolling */
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f2f5;
    gap: 10px 40px;
    align-content: center;
    width: 100%;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center, space-between;
    padding: 0px;
    text-align: center;
    width: 100%;
}

.card {
    width: 45vw;
    height: 100vh;
    padding: 2rem;
    font-size: 40px;
    border-radius: 0px;
    width: 50vw;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    background-color: #fafafa;
}

.ant-card-head-title{
    font-size: 30px;
}

.form-elements {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    padding: 2.5rem;
}

.form-item {
    width: 25rem;
}

.next-button-container {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 1rem;
    gap: 2rem;
}

.next-button {
    display: flex;
    justify-content: center;
    gap: 20px; 
    margin-top: 30px; 
}